/* ------------------------------ */
/* ---------- Contenido --------- */
/* ------------------------------ */

.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

.grid__contenedor {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.grid__seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.principal__contenedor {
    grid-column: span 2;
}

.sidebar__contenedor {
    grid-column: span 1;
}

.subgrid__seccion {
    grid-column: span 1;
}

.seccion {
    margin: 40px 0;
    padding: 20px;
    width: 100%;
    background: #fff;
    box-shadow: 2px 2px 6px #505050;
    border-radius: 5px;
}

.seccion .titulo__seccion,
.seccion .info__seccion {
    display: block;
}

.seccion .titulo__seccion {
    margin-bottom: .25rem;
}

.seccion .info__seccion {
    margin-top: .5rem;
    display: block;
    /* display: flex;
    align-items: center; */
}

.seccion svg {
    display: inline-block;
    margin-right: .5rem;
}

.seccion .icon__flag {
    height: 1rem;
    margin-right: .5rem;
}

.seccion svg.yellow {
    color: #e4e000;
}

.seccion svg.red {
    color: #EE0000;
}

.seccion svg.green {
    color: #16c000;
}

.seccion svg.blue {
    color: #0048e4;
}

.seccion .image__circuit {
    display: block;
    margin: auto;
    width: 300px;
    max-width: 400px;
}

.seccion .info__seccion span {
    margin-right: 1rem;
}

.seccion .info__seccion .flag {
    display: inline-block;
    margin: 0 .5rem;
    height: .7rem;
}

.seccion .titulo__seccion {
    font-size: 1.75rem;
    font-weight: bold;
    /* color: #EE0000; */
}

/* ------------------------------ */
/* ------------ Tabla ----------- */
/* ------------------------------ */

.seccion .tabla {
    width: 100%;
    margin-top: .5rem;
    border-collapse: collapse;
    text-align: left;
    /* border-radius: 5px 5px 0 0; */
    border-radius: 5px 3px;
    overflow: hidden;
    white-space: nowrap;
}

.seccion .tabla .thead {
    color: #fff;
    background: #EE0000;
}

.seccion .tabla th {
    font-size: 1.1rem;
}

.seccion .tabla th,
.seccion .tabla td {
    padding: 12px;
}

.seccion .tabla th.center,
.seccion .tabla td.center {
    text-align: center;
}

.seccion .fastest__lap {
    color: #9600bb;
}

.seccion .finished {
    color: #16c000;
}

.seccion .dnf {
    color: #EE0000;
}

.seccion .tabla tbody tr:nth-of-type(even) {
    background: #00000033;
}

.seccion .tabla tbody tr:last-of-type {
    border-bottom: 3px #EE0000 solid;
}

.seccion .tabla tbody tr:hover {
    background: #00000059;
}

/* ------------------------------ */
/* ---------- Skeleton ---------- */
/* ------------------------------ */

.skeleton {
    animation: skeleton-loading 1.3s linear infinite alternate;
}

.skeleton__texto {
    width: 100%;
    height: 1.25rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}

.skeleton__titulo {
    width: 30%;
    height: 1.7rem;
}

.skeleton__cuerpo {
    height: 300px;
}

@keyframes skeleton-loading {
    0% {
        background-color: #c0c0c0;
    }

    100% {
        background-color: #d8d8d8;
    }
}

@media screen and (max-width: 1400px) {
    .grid__contenedor {
        grid-template-columns: repeat(8, 1fr);
    }

    .principal__contenedor {
        grid-column: span 5;
    }

    .sidebar__contenedor {
        grid-column: span 3;
    }

    .seccion {
        padding: 12px;
    }
}

@media screen and (max-width: 1200px) {
    .grid__contenedor {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .principal__contenedor,
    .sidebar__contenedor {
        grid-column: span 2;
    }

    .subgrid__seccion {
        grid-column: span 1;
    }

    .seccion .tabla th,
    .seccion .tabla td {
        padding: 8px;
    }
}

@media screen and (max-width: 750px) {
    .contenedor {
        margin: 0;
        width: 100%;
    }

    .principal__contenedor,
    .sidebar__contenedor {
        width: 100%;
    }

    .grid__contenedor {
        display: block;
    }

    .subgrid__seccion {
        grid-column: span 2;
    }

    .seccion .image__circuit {
        margin-top: 20px;
        width: 200px;
        max-width: 300px;
    }

    .seccion {
        margin: 20px 0;
        overflow-x: scroll;
    }
}