/* ------------------------------ */
/* ----------- Header ----------- */
/* ------------------------------ */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 2px 2px 6px #505050;
    z-index: 999;
}

header .navbar {
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar .logo {
    padding: 8px 0;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

header .navbar .logo img {
    display: block;
    height: 34px;
}

header .navbar ul {
    list-style: none;
    transition: all .5s ease;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    display: block;
    padding: 1rem 1.2rem;
    color: #000;
    text-decoration: none;
    transition: all .3s ease;
}

header .navbar ul li a:hover {
    background: #00000033;
}

header .navbar .btn__lista {
    border: none;
    background: none;
    margin: 1rem;
    cursor: pointer;
}

header .navbar .btn__menu {
    display: none;
}

@media screen and (max-width: 750px) {
    header .navbar .logo {
        padding: 4px 0;
    }

    header .navbar .logo img {
        display: block;
        height: 24px;
    }

    header .navbar ul li a {
        padding: .8rem 1rem;
    }
}

@media screen and (max-width: 640px) {
    header .navbar ul {
        position: fixed;
        width: 250px;
        height: 100vh;
        background: #fff;
        top: 46px;
        right: -250px;
        box-shadow: -2px 2px 6px #505050;
        z-index: 999;
    }

    header .navbar ul.active {
        right: 0;
    }

    header .navbar ul li {
        float: none;
        text-align: center;
    }

    header .navbar .btn__menu {
        display: block;
    }
}