footer {
    padding: 1.25rem 0;
    width: 100%;
    font-size: 1rem;
    background: #fff;
    box-shadow: 0 0 6px #505050;
}

.contenedor__footer{
    margin: auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 640px) {
    .contenedor__footer{
        display: grid;
        gap: 1rem;
    }
}